In [56]:
import numpy as numpy
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.graphics.api import interaction_plot, abline_plot
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.descriptivestats import Description

In [2]:
data = pd.read_csv("sales.csv")

Linear Regression

In [19]:
data.head()

,date,warehouse,client_type,product_line,quantity,unit_price,total,payment
0,1/6/2021,Central,Retail,Miscellaneous,8,16.85,134.83,Credit card
1,1/6/2021,North,Retail,Breaking system,9,19.29,173.61,Cash
2,1/6/2021,North,Retail,Suspension & traction,8,32.93,263.45,Credit card
3,1/6/2021,North,Wholesale,Frame & body,16,37.84,605.44,Transfer
4,1/6/2021,Central,Retail,Engine,2,60.48,120.96,Credit card

In [34]:
formula = "total ~ unit_price + quantity"
lm = ols(formula, data).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  total   R-squared:                       0.874
Model:                            OLS   Adj. R-squared:                  0.874
Method:                 Least Squares   F-statistic:                     3465.
Date:                Thu, 17 Nov 2022   Prob (F-statistic):               0.00
Time:                        15:17:58   Log-Likelihood:                -6226.0
No. Observations:                1000   AIC:                         1.246e+04
Df Residuals:                     997   BIC:                         1.247e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -291.2467     10.900    -26.719      0.000    -312.637    -269.857
unit_price     9.6390      0.317     30.447      0.000       9.018      10.260
quantity      30.6638      0.402     76.334      0.000      29.875      31.452
==============================================================================
Omnibus:                      474.377   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11049.388
Skew:                           1.639   Prob(JB):                         0.00
Kurtosis:                      18.951   Cond. No.                         95.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

ANOVA

In [47]:
formula = "total ~ C(warehouse, Sum)*C(client_type, Sum)"
data_lm = ols(formula,data = data).fit()
table = sm.stats.anova_lm(data_lm, typ=2)
print(table)

                                             sum_sq     df           F  \
C(warehouse, Sum)                      1.254027e+05    2.0    0.931220
C(client_type, Sum)                    5.126056e+07    1.0  761.305381
C(warehouse, Sum):C(client_type, Sum)  6.964879e+05    2.0    5.172008
Residual                               6.692846e+07  994.0         NaN

                                              PR(>F)
C(warehouse, Sum)                       3.944161e-01
C(client_type, Sum)                    6.945700e-125
C(warehouse, Sum):C(client_type, Sum)   5.826833e-03
Residual                                         NaN

T Test

In [66]:
data["client_type"].unique()[0]

'Retail'

In [59]:
x = data.loc[data["client_type"] == "Retail", "total"]
y = data.loc[data["client_type"] == "Wholesale", "total"]
x, y

(0      134.83
 1      173.61
 2      263.45
 4      120.96
 6       54.41
         ...
 989    280.27
 993    170.21
 994    184.42
 995    295.83
 998    241.23
 Name: total, Length: 775, dtype: float64,
 3       605.44
 5      1494.80
 8      1579.87
 36      815.22
 40      588.64
         ...
 991     231.20
 992     920.37
 996     320.96
 997     393.64
 999     548.13
 Name: total, Length: 225, dtype: float64)

In [73]:
stats.ttest_ind(x,y)

Ttest_indResult(statistic=-27.492951889501615, pvalue=2.4937172679086875e-124)